.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
}


.bmi{
    width:50%;
    height: 100vh;
    background-color: black;
    padding: 5%;
}

h1, h2, p{
    color: white;
}

#inp{

    width:300px;
}

.second{
    width:50%;
    height: 100vh;
    background-color: teal;
}


.bmi_first{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}

